
<!-- Dynamically rotated hero image -->
    <div>
      <img class="marquee" src="">
    </div>
    
<!-- ////////////////////////////// -->
<h3 id="userTest"></h3>
<script>
    // document.getElementById("userTest").innerHTML = 'Hello, ' + getUser()
</script>
<!-- ////////////////////////////// -->
<div>
  <h2 class="WELCOME">Hello and welcome</h2>
  <p>
    Enter your name to create an account in which you can save and ❤️  &nbsp;your favorite
    recipes &mdash; or if you already have an account, enter that to see your saved recipes.
  </p>
  <p>
    <form method="POST" action="/new-user" onsubmit="login()">
        <input id="userName" class="textarea-name" type="text" placeholder="Create Your Username" name="userName" />
        <button type="submit">Create Your Account OR Log In</button>
    </form>
</p>

</div>

<hr>
<div>


  <% if (noRecipe === true){ %>
      <h2 class="WELCOME2">Your query returned no results – try again </h2>
  <% } else { %>  
        <h2 class="WELCOME2">Let's Solve This!</h2>
  <% } %>




  <p>
Simply enter the ingredients that you have on-hand <i class="reddish">(make sure to separate all ingredients by commas)</i>
  </p>
  <p>
    <form method="GET" action="/recipes">
      <input class="textarea-ingredients" rows="1"  type="text" placeholder="Enter, your, ingredients ..." name="ingredients"></input>
      <button class="find-recipes-button" type="submit">Find a recipe!</button>
  </form>    
  </p>
</div>
<hr>
<script>
choosePic()
</script>