
    <div>
      <img class="marquee" src="images/food1.jpg">
    </div>
    
<hr>
    <div>
    <h2 class="WELCOME">Hello and welcome.</h2>
  </div>
<div>
  <p>
    Enter your name to create an account in which you can store your favorite
    recipes.
  </p>
  <p>
    <form method="POST" action="/new-user">
        <input class="textarea-name" type="text" placeholder="Create Your Username" name="userName" />
        <button type="submit">Create Your Account</button>
    </form>
  </p>
</div>

<hr>
<div>

<h2 class="WELCOME">Let's Solve This!</h2>
  <p>
Or simply enter the ingredients that you have on-hand  
  </p>
  <p>
    <form method="GET" action="/home2">
      <textarea class="textarea-ingredients" rows="1"  type="text" placeholder="Enter, your, ingredients ..." name="ingredients"></textarea>
      <button class="find-recipes-button" type="submit">Find a recipe!</button>
  </form>    
  </p>
</div>
<hr>
<!-- <div>
  <h2 style="margin-bottom: 65px;" class="POPULAR"><a href="home2">Most popular recipes searched for this week</h2></a>
</div> -->
