/* //////////////////// */
/* Additional Site Styles */
/* //////////////////// */

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

h1.LOGO {
  font-family: 'Staatliches', cursive;
  font-size: 5.5rem;
}

h2.WELCOME,
h2.SOLVE,
h2.POPULAR {
  font-family: 'Staatliches', cursive;
  font-size: 4rem;
}

.textarea-name {
  resize: none;
  border: 1px rgb(173, 173, 173) solid;
  /* width: 100%; */
  overflow: hidden;
  border-radius: 6px;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
  font-size: 17px;
}

.textarea-name::placeholder {
  color: rgb(201, 201, 201);
  font-style: italic;
}

.textarea-ingredients {
  resize: none;
  border: 1px rgb(173, 173, 173) solid;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
  font-size: 36px;
  padding-left: 10px;
  outline: none;
}

.textarea-ingredients::placeholder {
  color: rgb(201, 201, 201);
  font-style: italic;
}

.find-recipes-button {
  width: 100%;
  font-size: 20px;
}

.find-recipes-button:active {
  /* background-color: rgb(250, 133, 133); */
}

img.marquee {
  width: 100%;
  max-height: 500px;
  /* max-width: 100%;
  height: auto; */
  border-radius: 12px;
}

.nav-top{
  /* border:1px solid black; */
  font-size: 16px;
}